**.DS_Store
**/.idea/**
*.pyc
.ipynb_checkpoints
__pycache__
/training_logs
/complete_run_logs
*.out
/grid_search
/grid_search_gpu_example
/env
**/FairFace/**/*.jpg
**/FairFace_reduced/**/*.jpg
**/.vscode/**
**/*.jpg
/data/EMNIST_35/processed/
/data/EMNIST_35/raw/
/data/EMNIST_9/
/data/EMNIST_10/
/data/EMNIST/
/tSNE_results
/data/colorMNIST/
/data/EMNIST_no_noise/
