**.DS_Store
**/.idea/**
*.pyc
.ipynb_checkpoints
__pycache__
/training_logs
*.out
/grid_search
/grid_search_gpu_example
/env
**/FairFace/**/*.jpg
**/FairFace_reduced/**/*.jpg
**/.vscode/**
**/*.jpg
/data/EMNIST/
